/Ejercicio6.2.py
/Ejercicio6.3.1.py
/Ejercicio6.3.png
/Ejercicio6.3.py
/Ejercicio6.3Func.py
/Ejercicio6.4.py
/TablaMultiplicar.py
/Utilitario.py
/__pycache__
/ejercicio5.py
/ejercicio6,3 1.py
/ejercicio6.3.2.png
/ejercicio7.py
/fruteria 2.py

# Archivos locales generados por Python y VS Code.
__pycache__/
.vscode/
